-e git+https://github.com/Runnerly/flakon.git#egg=flakon
-e git+https://github.com/facebookresearch/fastText#egg=fasttext
Flask
sphinx-rtd-theme==0.4.3
WebTest==2.0.33
Werkzeug==0.16.0
Flask-SQLAlchemy
flask_cors